@model Kanban.Models.Task

@{
    ViewData["Title"] = "Details";
}

<section class="content">

    <div class="card mt-5 w-50" style="left: 25%">
        <div class="card-body align-items-center">
            <h3 class="text-primary"><i class="fas fa-paint-brush"></i>@Model.Title</h3>
            <div class="text-muted">
                <p class="text-sm">
                    Изпълнител
                    <b class="d-block">@Model.Description</b>
                </p>
            </div>
            <br>
            <div class="text-muted">
                <p class="text-sm">
                    Възложител
                    <b class="d-block">@Model.Creator</b>
                </p>

                @if (Model.Executor != null)
                {
                    <p class="text-sm">
                        Изпълнител
                        <b class="d-block">@Model.Executor</b>
                    </p>
                }


            </div>
            <h5 class="mt-5 mb-3 font-weight-bold">Коментари:</h5>
            <div class="col-12">
                @foreach (var comment in Model.Comments)
                {
                    <div class="post clearfix">
                        <div class="user-block">
                            <span class="username" style="margin-left: 0">
                                @comment.User.FirstName @comment.User.LastName
                            </span>
                            <span class="description" style="margin-left: 0">@comment.DatePosted.DayOfWeek @comment.DatePosted.Day of @comment.DatePosted.Date.ToString("MMM") @comment.DatePosted.Year</span>
                        </div>

                        <p>
                            @comment.CommentText
                        </p>
                    </div>
                }

            </div>

            <p class="d-flex justify-content-center">Добави коментар:</p>
            <form asp-area="" asp-controller="Comment" asp-action="Create" method="post" style="display: flex; flex-direction: column">
                <input type="hidden" value="@Model.Id" name="taskId" />
                <textarea name="textarea" style="margin: auto; width: 500px" class="mb-3"></textarea>
                <input type="submit" class="btn btn-primary" value="Добави коментар" style="width: 25%; margin: 0 auto" />
            </form>
        </div>

    </div>

</section>

@*<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExecutorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExecutorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
