@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<title>@ViewData["Title"]</title>
<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="~/css/adminlte/adminlte.min.css">
<link rel="stylesheet" href="~/css/Ekko/ekko-lightbox.css">
<link rel="stylesheet" href="~/css/overlayScrollbars/OverlayScrollbars.min.css">

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a asp-area="" asp-controller="Task" asp-action="Index"><b>Kan</b>ban</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form id="account" asp-asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Username" autocomplete="username" type="text" class="form-control" placeholder="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        
                    </div>
                    <span asp-validation-for="Input.Username" class="text-danger mb-xl-5"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="Input.RememberMe" type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>

                <p class="mb-1">
                    <a asp-page="ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a asp-page="Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">Register a new membership</a>
                </p>
            </div>
        </div>
    </div>
    <script src="~/js/jquery/jquery.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte/adminlte.min.js"></script>
</body>

@*<body class="m-0">
    <section class="background-radial-gradient overflow-hidden">
        <div class="container px-4 py-5 px-md-5 text-center text-lg-start" style="margin-top: 140px">
            <div class="row gx-lg-5 align-items-center mb-5">
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                        The best offer <br />
                        <span style="color: hsl(218, 81%, 75%)">for your business</span>
                    </h1>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                    <div class="card bg-glass">
                        <div class="card-body py-5 px-5 pb-3">
                            <form id="account" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-outline mb-4">
                                    <label asp-for="Input.Username" class="form-label">Username</label>
                                    <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" class="form-control" />
                                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-4">
                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="*********" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                                <div class="row mb-4">
                                    <div class="col d-flex">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" />
                                            <label class="form-check-label" asp-for="Input.RememberMe"> Remember me </label>
                                        </div>
                                    </div>

                                    <div class="col text-end">
                                        <a asp-page="ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl">Forgot password?</a>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mt-4">Sign in</button>
                                </div>

                                <div class="text-center mt-4">
                                    <p>Not a member? <a asp-page="Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a></p>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
